extends layout

block content
	h1= title

	//NBA Urls 
	#NBAURL

		.date
			h3

		.games

		
		.video(style='display:none')
			.title 
			video(id='video' controls auto play class="videoCentered" width='720')
			button(class='btnClose') close
